body {
    margin: 0;
    background-color: #9CC9A0;
}

div#head {
    margin-left: 0;
    margin-right: 0;
    width:100%;
    height:38px;
    background-color: rgba(39, 17, 87, 0.63);
}

div#weiboid {
    height:38px;
    padding-top: 8px;
    vertical-align: middle;
    text-align: center;
    color: white;
}

div#weiboid a {
    color: white;
    font: bold 20px arial, sans-serif;
    text-decoration: none;
}

div#weiboid a:hover {
    color: #E66969;
}

span#visitorCounter {
    float: right;
    font: 10px Times New n;
    color: #6D7E9C;
}


div#content {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

p.centerTextResult {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 20px;
    text-align: center;
    color: #5815AD;
}

textarea#userinput {
    width: 100%;
    height: 200px;
    background-color: #F8EAEA;
}

select#algorithms {
    float: right;
}
div#prompt {
    margin-left: 3px;
    width: 100%;
}

div#generatediv {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}

button#generate {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
}

#fullurl{
    width: 400px;
    text-align: center;
}

.linkButton{
    display: block;
    text-decoration: none;
}

.centerDiv{
    margin-left: auto;
    margin-right: auto;
    background-color: #92B6B2;
    width: 150px;
    text-align: center;
}
#shortURLPanel{
    margin-top: 20px;
}
#fullurl {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#getShortURL {
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    display: block;
}
